appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
graphviz==0.15
gunicorn==20.0.4
html5lib==1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
line-bot-sdk==1.18.0
lxml==4.6.2
MarkupSafe==1.1.1
pipenv==2020.11.15
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
transitions==0.8.5
urllib3==1.26.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
